MatchIt
causaldata
cem
ggplot2
ggridges
tidyr
cobalt
scales
plotly
dplyr
purrr
sensitivitymult
PSAgraphics
MASS
sensitivityfull
sensitivitymv
Matching
rgenoud
viridis
mediation
htmlwidgets
webshot2
patchwork
optrefine
Rglpk